/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body {
    overflow: hidden; /* Hide scrollbars */
}

.main-container{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    background-color: #0c0c0c;
    /* background: linear-gradient(to bottom, #f8b3b5 0%, #f8b3b5 50%, #ffffff 50%, #ffffff 100%); */
    background: linear-gradient(to bottom, rgb(11, 63, 11) 0%, #0c0c0c 25%, #000 100%);
    color: #0f0;
    width: 100vw;
    height: 100vh;
    justify-content:center;
    align-items: center;
}

.container{
    display: flex;
    max-width: 600px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    margin: 0% 3%;
}

.container2{
    display: flex;
    max-width: 500px;
    gap:10%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    margin: 0% 3%;
}


.btn{
    padding: 5px 0;
    border: 1px solid lightgreen;
    background-color: black;
    color: #0f0;
    font: inherit;
    font-size: 1.5vw;
    width: 100%;
    transition: .3s;
}

.btn:hover{
    color: black;
    border: 1px solid red;
    background-color: white;
}

.in{
    padding: 5px 0;
    border: 1px solid lightgreen;
    border-radius: 5px;
    font:inherit;
    font-size: 1.5vw;
    background-color: black;
    color: #0f0;
    text-align: center;
    width: 100%;
    margin: 5px;
}

.time-ctrl-btn-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.time-ctrl-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;

    flex: 1 0 calc(33.333% - 10px);
    margin: 5px;

    border: 1px solid lightgreen;
    border-radius: 5px;

    color: #0f0;
    background-color: black;

    transition: .3s;
}

.time-ctrl-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid red;
}


.text-logo {
    font-size: 3vw; font-style: italic;
}

.container-label {
    font-size: 2vw; font-style: italic;
}



#chess-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#player1-ui {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#player2-ui {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#chess-canvases {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player1-info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: calc(1vw + 1vh);
}
#player2-info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(1vw + 1vh);
}
.timer{
    width: 60%;
    height: 90%;
    max-height: 7vh;
    order: 2;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-style: italic;
    justify-content: center;
    
}



#chess-interface {
    width: 30vw;
    height: 100vh;
}

#chess-match-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
#chess-match-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.match-info-text {

    font-size: calc(2vw + 2vh);
}
#chess-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    
}
#chat-history {
    height: 100%;
    background-color: purple;

    border: 1px solid lightgreen;
    border-radius: 10px;

    color: #0f0;
    background-color: rgba(0, 0, 0, 0.1);
}
#chat-interface {
    display: flex;
}
#draw-btn {
    font: inherit;
    font-size: calc(1vw + 1vh);
}
#resign-btn {
    font: inherit;
    font-size: calc(1vw + 1vh);
}
#send-btn {
    font: inherit;
}
#chat-textbox{
    font: inherit;
}
@media (max-width: 1000px) and (orientation: portrait){
    .main-container {
        flex-direction: column;
        padding: 0 5%;
    }

    .container{
        order: 2;
        width: 100%;

        font-size: 10vh;
    }
    .container2{
        order: 1;
        width: 100%;
        font-size: 5rem;
        
    }
    h1{
        font-size: 2vh;
    }
    .btn{
        font-size: 2vh;
    }
    .in{
        font-size: 2vh;
    }

    .text-logo {
        font-size: 5vh; font-style: italic;
    }
    
    .container-label {
        font-size: 3vh; font-style: italic;
    }
}