/* css reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: -moz-none;
    -o-user-select: none;
    user-select: none;
}

body {
}

.main-container{
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Orbitron', sans-serif;
    display: flex;
    background-color: #0c0c0c;
    /* background: linear-gradient(to bottom, #f8b3b5 0%, #f8b3b5 50%, #ffffff 50%, #ffffff 100%); */
    background: linear-gradient(to bottom, rgb(11, 63, 11) 0%, #0c0c0c 25%, #000 100%);
    color: #0f0;
    width: 100vw;
    height: 100vh;
    justify-content:center;
    align-items: center;
}

#custom-TC-dialog {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-family: 'Orbitron', sans-serif;
    color: #0f0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 510px;
    background: linear-gradient(to bottom, #0c0c0c 0%, rgb(5, 5, 5) 100%, rgb(11, 63, 11) 0%);
    border: none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(0, 0, 0);
    padding: 30px 10px;
}

#chess-color-btns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#dialog-x {
    position: absolute;
    font-weight: bolder;
    text-align: center;
    border-radius: 50%;
    left: 95%;
    top: 3%;
}
#dialog-x:hover {
    cursor: pointer;
    color: white;
}

#white-btn {
    width: 100px;
    height: 100px;
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;
    transition: 0.2s;
}
#black-btn {
    width: 100px;
    height: 100px;
    background-color: black;
    border: solid 5px white;
    border-radius: 10px;
    transition: 0.2s;
}
#white-btn:hover {
    border: solid 0px white;
    cursor: pointer;
}
#black-btn:hover {
    border: solid 0px black;
    cursor: pointer;
}

.in-h {
    font: inherit;
    font-size: 35px;
    font-weight: bold;
    display: block;
}
.in-tc {
    -webkit-appearance: none;
    width: 100%;
    font: inherit;
    font-size: larger;
    text-align: center;
    margin: 0 0 15px 0;
    color:#0f0;
    background: black;
    border: none;
    border-radius: 5px;
    padding: 2px;
}

.in-tc::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: #04AA6D; /* Green background */
    cursor: pointer; /* Cursor on hover */
}
  

.in-lbl {
    font: inherit;
    display: block;
}



#custom-TC-dialog::backdrop {
    background: linear-gradient(
      rgba(19, 34, 22, 0.5),
      rgba(0, 0, 0, 0.8)
    );
}

.container{
    display: flex;
    max-width: 600px;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    margin: 0% 3%;
}

.container2{
    display: flex;
    max-width: 500px;
    gap:10%;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 35%;
    height: 60%;
    margin: 0% 3%;
}


.btn{
    padding: 5px 0;
    border: 1px solid lightgreen;
    background-color: black;
    color: #0f0;
    font: inherit;
    font-size: 1.5vw;
    width: 100%;
    transition: .3s;
}

.btn:hover{
    color: black;
    border: 1px solid red;
    background-color: white;
    cursor: pointer;
}

.in{
    padding: 5px 0;
    border: 1px solid lightgreen;
    border-radius: 5px;
    font:inherit;
    font-size: 1.5vw;
    background-color: black;
    color: #0f0;
    text-align: center;
    width: 100%;
    margin: 5px;
}

.time-ctrl-btn-container{
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    width: 100%;
    height: 100%;
}

.time-ctrl-btn{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 1vw;

    flex: 1 0 calc(33.333% - 10px);
    margin: 5px;

    border: 1px solid lightgreen;
    border-radius: 5px;

    color: #0f0;
    background-color: black;

    transition: .3s;
}

.time-ctrl-btn:hover{
    cursor: pointer;
    background-color: white;
    color: black;
    border: 1px solid red;
}


.text-logo {
    font-size: 3vw; font-style: italic;
}

.container-label {
    font-size: 2vw; font-style: italic;
}



#chess-container {
    width: 60vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#player1-ui {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#player2-ui {
    width: 100%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#chess-canvases {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
#player1-info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    font-size: calc(1vw + 1vh);
}
#player2-info{
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: calc(1vw + 1vh);
}
.timer{
    width: 60%;
    height: 90%;
    max-height: 7vh;
    order: 2;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    font-size: 40px;
    display: flex;
    align-items: center;
    font-style: italic;
    justify-content: center;
    
}



#chess-interface {
    width: 30vw;
    height: 80vh;
}

#chess-match-interface {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50%;
}
#chess-match-btns{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.match-info-text {

    font-size: calc(2vw + 2vh);
}
#chess-chat {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 50%;
    
}
#chat-history {
    height: 100%;
    background-color: purple;

    border: 1px solid lightgreen;
    border-radius: 10px;

    color: #0f0;
    background-color: rgba(0, 0, 0, 0.1);
}
#chat-interface {
    display: flex;
}
#draw-btn {
    font: inherit;
    font-size: calc(1vw + 1vh);
}
#resign-btn {
    font: inherit;
    font-size: calc(1vw + 1vh);
}
#send-btn {
    font: inherit;
}
#chat-textbox{
    font: inherit;
}
@media (max-width: 1000px) and (orientation: portrait){
    .main-container {
        flex-direction: column;
        padding: 0 5%;
    }

    .container{
        order: 2;
        width: 100%;

        font-size: 10vh;
    }
    .container2{
        order: 1;
        width: 100%;
        font-size: 5rem;
        
    }
    h1{
        font-size: 2vh;
    }
    .btn{
        font-size: 2vh;
    }
    .in{
        font-size: 2vh;
    }

    .text-logo {
        font-size: 5vh; font-style: italic;
    }
    
    .container-label {
        font-size: 3vh; font-style: italic;
    }
}